html {
    height: auto;
    min-height: 100%;
}
body {
    background: linear-gradient(to bottom right, #f72585, #3a0ca3 );
    color: #f1faee;
}

h1 {
    text-align: center;
    color: burlywood;
}
.content {
    max-width: 35%;
    max-height: 25%;
    margin: auto;
    border: solid orange 2px;
    padding: 10px;
}
.content > p {
    text-align: center;
}
.content > img {
    display: block;
    margin: auto;
    padding: 5px;
}