h1 {
    text-align: center;
    color: #e63046;
    text-shadow: 2px 2px 2px #a8dadc;
}

div.content {
    display: flex;
    flex-direction: column-reverse;
    background-color: #560bad;
}
div.content > p {
    background-color: #4895ef;
    color: #f1faee;
    margin: 20px;
    padding: 15px;
    font-size: 1.em;
}