h1 {
    text-align: center;
    color: #e63946;
}

div.content {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    color: #457b9d;
}
div.content.descend-any-level p {
    background-color: #fdffb6;
}
div.content.descend-first-level > p {
    background-color: #ffc6ff;
}
div.content.adjacent + p {
    background-color: #8d99ae;
}
div.content.general-or-brother ~ p {
    background-color: #cbf3f0;
}