h1 {
    color: #e9c46a;
    text-align: center;
}

.div {
    padding: 10px;
    border: 15px solid #264653;
    margin: 20px;
    background-color: #bde0fe;
    max-width: 300px;
    max-height: 80px;
    outline:  10px solid #f4a261;
    outline-offset: 5px;
    box-sizing: border-box;
}

p.center {
    margin:0 auto;
    max-width: 200px;
    border: black 3px solid;
    background-color: #bde0fe;
    text-align: center;
}

p.intern {
    margin: inherit;
}