h1 {
    color: #e9c46a;
    text-align: center;
}

div {
    padding: 10px;
    border: 15px solid #264653;
    margin: 20px;
    background-color: #bde0fe;
    width: 300px;
    outline:  10px solid #f4a261;
}