h1 {
    text-align: center;
    color: chocolate;
}

div.content {
    border: 3px solid greenyellow;
    width: 30%;
    height: 50px;
    padding: 60px;
    margin: auto;
}
div.overflow_visible {
    overflow: visible;
}
div.overflow_hidden {
    overflow: hidden;
}
div.overflow_scroll {
    overflow: scroll;
}
div.overflow_auto {
    overflow: auto;
}