h1, div, p {
    border: solid 3px blueviolet;
    text-align: center;
    color: cornflowerblue;
    padding: 10px;
    display: block;
}

.display_inline {
    display: inline;
}
.display_block {
    display: block;
}
.display_none {
    display: none;
}
.visibility_hidden {
    visibility: hidden;
}