h1{
    text-align: center;
    color: chocolate;
}

div.static {
    position: static;
    padding: 15px;
    top:15px;
    border: solid 3px greenyellow;
    background-color: whitesmoke;
}
div.relative {
    position: relative;
    top: 10px;
    left: 10px;
    padding: 15px;
    border:3px solid blueviolet;
    background-color: whitesmoke;
}
div.absolute {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 100px;
    z-index: -1;
    border:3px solid cornflowerblue ;
    background-color: whitesmoke;
}
